In [15]:
import pandas as pd
all_table = pd.read_csv(r'C:\Users\Maheshri\OneDrive\Documents\PGCBM.csv')
all_table.head(31)

,S.No,Gender,Date of Birth\n(MM/DD/YY),City,Pincode,Designation,Total Exp (In Years),Highest Education,Company,Work Experience Doc Details,Functional Area,Industry,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1.0,Male,08-01-1997,Indore,452001.0,Business Development Head,3.9,B Com Honors in Marketing,Shrinivas Enterprises,2.81 Years letter,Sales,Manufacturing,NaN,NaN,NaN,NaN,NaN
1,2.0,Female,25-08-1997,Jakhal Mandi,125133.0,Brand Manager,2.5,B.E.,JBS Rice,2.05 Years Letters,Marketing & Sales,Internet / E-commerce,NaN,NaN,NaN,NaN,NaN
2,3.0,Male,09-12-1996,Gurgaon,122002.0,Manager,3.0,Undergraduate,SuperProcure,2.01 Years Letter,Sales,Other (SaaS - TMS),NaN,NaN,NaN,NaN,NaN
3,4.0,Male,01-06-1974,Patia,751031.0,Director,22.0,Master of Engineering,Mavenir Systems,8.16 Years Letter,Information Systems/ Technology,Information Technology / Services,NaN,NaN,NaN,NaN,NaN
4,5.0,Male,15-06-1975,Bhubaneswar,7531030.0,CHIEF FINANCE OFFICER,19.0,CA,VISTA INTERNATIONAL LIMITE,17.08 Years Letter,Finance,Manufacturing,NaN,NaN,NaN,NaN,NaN
5,6.0,Male,23-07-1994,Siliguri,734011.0,PROGRAM ASSOCIATE,2.2,B.Tech,NEWTON SCHOOL,2.13 Years Letters,Operations,Education/Ed-Tech,NaN,NaN,NaN,NaN,NaN
6,7.0,Female,28-01-1983,Gurgaon,122003.0,SPECIALIST - DATA ENGINEERING,12.1,B.Tech Hons,LTIMindtree,7.58 Years Letter,Information Systems/ Technology,Information Technology / Services,NaN,NaN,NaN,NaN,NaN
7,8.0,Female,08-05-1982,Bangalore,560067.0,senior engineering manager,18.0,B.E,paypal india ltd,18.34 Years Letter,Engineering,Internet / E-commerce,NaN,NaN,NaN,NaN,NaN
8,9.0,Male,17-05-1993,Lucknow,226008.0,Programe Advisor,8.0,B.com,Emeritus,3.89 Years letter,Sales,Education/Ed-Tech,NaN,NaN,NaN,NaN,NaN
9,10.0,Male,05-06-1998,Delhi,110092.0,Production Manager,3.0,TWO YEAR POST GRADUATE DIPLOMA IN MANAGEMENT,MICRO ENGINEERS,3.39 Years Letter,Manufacturing/ Production,Manufacturing,NaN,NaN,NaN,NaN,NaN
10,11.0,Male,28-05-1970,Bangalore,560062.0,Senior Engineering Manager,29.5,MS in Software engineering,Hewlett Packard Enterprise,22.47 Years Letters,Engineering,Telecommunications,NaN,NaN,NaN,NaN,NaN
11,12.0,Male,15-07-1987,Nagar Bharatpur,321205.0,PROJECT DIRECTOR AND CLUSTER INCHARGE RAJASTHAN,12.4,BACHELOR OF TECHNOLOGY,LARSEN & TOUBRO LTD,12.47 Years Letter,General Management,Infrastructure,NaN,NaN,NaN,NaN,NaN
12,13.0,Male,30-09-1985,Bhiwadi,301019.0,Sr. Manager Operation Electrical & Instrumenta...,16.0,B.E. Electrical,Sr. Manager Operation Electrical & Instrumenta...,16.32 Years letter,Manufacturing/ Production,Manufacturing,NaN,NaN,NaN,NaN,NaN
13,14.0,Female,12-08-1996,Hisar,125005.0,Accountant,2.5,Graduation Bcom,Fujiyama powers,2.79 Years Letter,Finance/Accounting,Other (Power),NaN,NaN,NaN,NaN,NaN
14,15.0,Male,13-06-1983,Göteborg,42134.0,Software Development Consultant,13.0,Masters of Technology,MCA Sweden,3.38 Years Letter,Information Systems/ Technology,Information Technology / Services,NaN,NaN,NaN,NaN,NaN
15,16.0,Male,19-01-1991,Ahmedabad,380058.0,Head - Business Development,10.0,Bachelor of Engineering,Kaypee Polyfab Pvt. Ltd.,8.25 Years Letter,Marketing & Sales,Manufacturing,NaN,NaN,NaN,NaN,NaN
16,17.0,Male,21-01-1997,Delhi,110024.0,Operations Manager,3.9,B. A. Hons Economics,Adam Enterprize,2.86 Years Letters,Operations,Manufacturing,NaN,NaN,NaN,NaN,NaN
17,18.0,Male,26-12-1996,Kolkata,700122.0,Senior Engineer,3.5,B.Tech,Elektrobit India,3.45 Years letter,Information Systems/ Technology,Information Technology / Services,NaN,NaN,NaN,NaN,NaN
18,19.0,Male,15-01-1990,Hyderabad,500019.0,Senior Software Engineer,8.0,Master of Technology in CSE,AMD,7.26 Years Letter,Information Systems/ Technology,Information Technology / Services,NaN,NaN,NaN,NaN,NaN
19,20.0,Male,26-05-1980,Indore,452010.0,Deputy General Manager,20.0,B Tech,VE Commercial Vehicles Ltd,4.97 Years Letter,Customer Service,Manufacturing,NaN,NaN,NaN,NaN,NaN
20,21.0,Female,17-12-1986,Thane,421306.0,Product Manager,11.0,MSc. Biotechnology,Thermofisher Scientific India Pvt Ltd,7.82 Years Letter,Marketing & Sales,Pharmaceuticals / Biotechnology / Healthcare,NaN,NaN,NaN,NaN,NaN
21,22.0,Male,08-11-1973,Bangalore,560008.0,Senior Engineering Manager,24.0,Bachelor of Engineering,Ariba Technologies India Private Limited,26.34 Years Letter,Information Systems/ Technology,Information Technology / Services,NaN,NaN,NaN,NaN,NaN
22,23.0,Male,14-09-1997,Sambalpur,768003.0,PROPRIETOR,4.0,BBA,BALAJI INFRA & lOGISTICS,5.58 Years Letter,Other,Other,NaN,NaN,NaN,NaN,NaN
23,24.0,Male,28-05-1979,Indore,452012.0,HoD - Procurement,20.0,BCom,Panasonic Energy India Company Ltd,5.97 Years Letter,Purchasing,Manufacturing,NaN,NaN,NaN,NaN,NaN
24,25.0,Male,15-10-1991,Mumbai,400072.0,Manager,7.6,B.Com,Fractal Analytics,5.78 Years Letter,Human Resource,Information Technology / Services,NaN,NaN,NaN,NaN,NaN
25,26.0,Male,18-06-1986,Bhubaneswar,761020.0,Manager,15.0,Bachelor of Technolog,Arghakhanchi Cement Limited,13.17 Years Letters,Manufacturing/ Production,Manufacturing,NaN,NaN,NaN,NaN,NaN
26,27.0,Male,01-09-1996,Ratlam,457001.0,Operations Manager,4.3,Bachelor of Science Honours Biotechnology,Changejar Technologies Private Limtied,3.71 Years Letter,Operations,Banking and Finance,NaN,NaN,NaN,NaN,NaN
27,28.0,Male,20-11-1998,Vadodara,390007.0,Sales and Marketing Head,2.0,Graduate in Btech Mechanical,Weld Arc Engineers,2.68 Years Letter,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,29.0,Male,18-09-1992,Pune,411038.0,Sales Engineer,4.0,BE Electronics and Telecommunication,Bit Mapper Integration Technologies Pvt. Ltd.,2.41 Years Letter,Sales,Other,NaN,NaN,NaN,NaN,NaN
29,30.0,Male,22-06-1998,Vadodara,391410.0,DIRECTOR,4.3,B.COM,KALINTIS HEALTHCARE PRIVATE LIMITED,4.26 Years Letter,Finance/Accounting,Pharmaceuticals / Biotechnology / Healthcare,NaN,NaN,NaN,NaN,NaN
30,31.0,Male,18-01-1984,Kozhikode,673541.0,Manager-Enterprise Solutions,17.0,Diploma,United Makgroup Tech,17.65 Years Letters,Information Systems/ Technology,Telecommunications,NaN,NaN,NaN,NaN,NaN

In [32]:
""" Arithmatic Mean Age of person attending course """
YrOfExpDataframe =  all_table['Total Exp (In Years)'].head(31)
print(YrOfExpDataframe)
print(YrOfExpDataframe.sum() /  (YrOfExpDataframe.size-1))
print("calculating mean")
print(YrOfExpDataframe.mean())

0      3.9
1      2.5
2      3.0
3     22.0
4     19.0
5      2.2
6     12.1
7     18.0
8      8.0
9      3.0
10    29.5
11    12.4
12    16.0
13     2.5
14    13.0
15    10.0
16     3.9
17     3.5
18     8.0
19    20.0
20    11.0
21    24.0
22     4.0
23    20.0
24     7.6
25    15.0
26     4.3
27     2.0
28     4.0
29     4.3
30    17.0
Name: Total Exp (In Years), dtype: float64
10.856666666666667
calculating mean
10.506451612903227

In [39]:
""" Median Age of Person attending course"""
print("Panda Median :")
print(YrOfExpDataframe.median())
import math
sortedExp = YrOfExpDataframe.sort_values()
print(sortedExp)
print()
print(sortedExp[math.floor(sortedExp.size / 2 )])

Panda Median :
8.0
27     2.0
5      2.2
1      2.5
13     2.5
2      3.0
9      3.0
17     3.5
0      3.9
16     3.9
28     4.0
22     4.0
26     4.3
29     4.3
24     7.6
8      8.0
18     8.0
15    10.0
20    11.0
6     12.1
11    12.4
14    13.0
25    15.0
12    16.0
30    17.0
7     18.0
4     19.0
19    20.0
23    20.0
3     22.0
21    24.0
10    29.5
Name: Total Exp (In Years), dtype: float64

10.0